<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sicnu.sixteam.englishbackstage.mapper.UserMapper">
    <select id="getAllUserId" resultType="java.lang.String">
        SELECT userid FROM usr ;
    </select>
    <select id="getUserById" resultType="sicnu.sixteam.englishbackstage.model.User">
        SELECT * FROM usr where userid=#{userid};
    </select>
    <select id="getUserPasswordByPhone" resultType="java.lang.String">
        select passwd from usr where phone=#{phonenum};
    </select>
    <select id="getUserPasswordByEmail" resultType="java.lang.String">
        select passwd from usr where eid=#{emailnum};
    </select>
    <select id="InsertNewUserByEmail">
        insert into usr(userid,uname,eid,passwd)
        SELECT random_num,#{username},#{emailnum},#{password}
        FROM (
                 SELECT FLOOR(RAND() * 99999) AS random_num
                 FROM usr
                 UNION
                 SELECT FLOOR(RAND() * 99999) AS random_num
             ) AS ss
        WHERE "random_num" NOT IN (SELECT userid FROM usr)
        LIMIT 1;
    </select>

    <select id="InsertNewUserByPhone">
        insert into usr(userid,uname,phone,passwd)
        SELECT random_num,#{username},#{phonenum},#{password}
        FROM (
          SELECT FLOOR(RAND() * 99999) AS random_num
          FROM usr
          UNION
          SELECT FLOOR(RAND() * 99999) AS random_num
        ) AS ss
        WHERE "random_num" NOT IN (SELECT userid FROM usr)
        LIMIT 1;
    </select>
</mapper>
